<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carderfly</title>
  <link rel="icon" type="image/x-icon" href="public/temp/favicon.ico">
  <link rel="icon" type="image/png" sizes="16×16" href="public/temp/favicon.png">
  <link rel="icon" type="image/png" sizes="32×32" href="public/temp/favicon.png">
  <link rel="stylesheet" href="public/css/style.css" />
</head>

<body>
  <h1>Index</h1>
</body>

</html>